<div class="card">
  <div class="card-header">Media list</div>
  <div class="card-block">
    <p>Showing all results matching "web development"</p>
  </div>

  <div class="table-responsive">
    <table class="table align-middle mb-0">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>User</th>
          <th>Registered</th>
          <th>Location</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <img src="{{user.picture.large}}" class="avatar-md rounded" alt="">
          </td>
          <td>
            <a class="d-block text-capitalize" style="color:blue" (click)="open(content)">{{user.name.title}} {{user.name.first}} {{user.name.last}}</a>
            <small>{{user.login.username}}</small>

            <ng-template ngbModalContainer></ng-template>
            <ng-template #content let-c="close" let-d="dismiss">
              <div class="card card-block">
                <div class="d-flex">
                  <div class="mr-auto">
                    <h3 class="mt-0 mb-0 text-uppercase"><small class="fw-300">{{user.name.title}}</small> <strong>{{user.name.last}}</strong></h3>
                    <h6 class="mt-0 mb-0 fw-400"><i>{{user.location.city}}</i></h6>
                    <p class="text-muted mt-0 mb-0">UX Developer</p>
                  </div>
                  <div>
                    <img src="{{user.picture.large}}" class="avatar-md rounded-circle" alt="">
                  </div>
                </div>
                <div class="mt-5">
                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Mobile</span>
                        <strong>{{user.cell}}</strong>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Extension</span>
                        <strong>94</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Birthday</span>
                        <strong>30.09.67</strong>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">{{user.nat}}</span>
                        <strong>South Africa</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Occupation</span>
                        <strong>Assistant</strong>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Mobile</span>
                        <strong>+23908924</strong>
                      </div>
                    </div>
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Twitter</span>
                        <strong>@mrperkins</strong>
                      </div>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-start">
                        <span class="mr-auto">Facebook</span>
                        <strong>mrperkins</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </td>
          <td>{{ user.registered | date:'yMMMd' }}</td>
          <td>
            <span class="badge badge-default text-uppercase">{{user.location.city}}</span>
          </td>
          <td>
            <a href="#">{{user.email}}</a>
          </td>
          <td>{{user.cell}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
